DirectoryIndex /production/build/index.html

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !([^\*]+).parkinpeace.eu$

RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule (^|/)index\.php - [L]
RewriteRule (^|/)index\.html - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTP_HOST} !([^\*]+).parkinpeace.eu$
RewriteRule . /production/build/index.html [L]
RewriteCond %{HTTP_HOST} dev.parkinpeace.eu$
RewriteRule . /development/build/index.html [L]